@model List<Modelo.Customer>

@{
    ViewData["Title"] = "Clientes";
}

<div class="container py-4">
    <div class="card shadow rounded-4 border-0">
        <div class="card-header bg-primary text-white text-center rounded-top-4">
            <h2 class="mb-0">Lista de Clientes</h2>
        </div>

        <div class="card-body px-4">

            <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap gap-2">
                <a asp-action="Create" asp-controller="Customer" class="btn btn-success">
                    <i class="bi bi-plus-circle me-1"></i> Novo Cliente
                </a>

                <div class="d-flex gap-2">
                    <a asp-action="ExportDelimitatedFile" asp-controller="Customer" class="btn btn-outline-light bg-secondary text-white">
                        <i class="bi bi-filetype-txt me-1"></i> Exportar Delimitado
                        <i class="bi bi-filetype-txt me-1"></i> Exportar Delimitado
                    </a>

                    <a asp-action="ExportFixedFile" asp-controller="Customer" class="btn btn-outline-light bg-secondary text-white">
                        <i class="bi bi-file-earmark-font me-1"></i> Exportar Fixo
                    </a>
                </div>
            </div>

            @if (Model.Count > 0)
            {
                <div class="table-responsive">
                    <table class="table table-sm table-bordered align-middle text-center shadow-sm">
                        <thead class="table-light">
                            <tr>
                                <th style="width: 10%">ID</th>
                                <th class="text-start">Nome</th>
                                <th style="width: 10%">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var customer in Model)
                            {
                                <tr>
                                    <td>@customer.Id</td>
                                    <td class="text-start">@customer.Name</td>
                                    <td>
                                        <a asp-action="Delete" asp-controller="Customer" asp-route-id="@customer.Id" class="btn btn-sm btn-danger" title="Excluir Cliente">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-warning text-center mt-4 mb-0" role="alert">
                    Nenhum cliente cadastrado até o momento.
                </div>
            }

        </div>
    </div>
</div>
